// Colors
// =================================================
$brand-primary: #ff0066;
$brand-secondary: #f5e6e6;
$brand-sub: #314659;
$brand-text-light: #314659;
$brand-text-dark: #fff;
$body-background: #f5e6e6;
$container-background: #f9f9f9;

$nav-link-color: $brand-sub;
$nav-link-hover: $brand-primary;
$nav-background: $brand-secondary;

$footer-bg-color: #f5e6e6;
$footer-link-color: $brand-text-light;
$footer-link-hover: $brand-primary;
